# Node.js
node_modules/

# Environment Variables
.env

# Logs
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE or Editor directories
.vscode/
.idea/
